= form_for [@user,@profile] do |f|
  .control-group
    = f.label :last_name, :class => 'control-label'
    .controls
      = f.text_field :last_name, :class => 'text_field'
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :middle_name, :class => 'control-label'
    .controls
      = f.text_field :middle_name, :class => 'text_field'
  .control-group
    = f.label :dob, :class => 'control-label'
    .controls
      = f.date_field :dob, :class => 'text_field'
  .control-group
    = f.label :image, :class => 'control-label'
    .controls
      = f.file_field :image, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to 'Cancel', root_path, :class => 'btn'