.well.content
  .row
    .span10
      -if @profile
        -if @profile.image.url.present?
          %p
            %img.img-polaroid{src:"#{@profile.image.url}",width:"160px",height:"140px" }
        -else
          %p
            =image_tag "default.jpg", :class => "img-polaroid"
        %h3=profile.name
        %h3=profile.last_name
        %p Дата рождения : #{profile.dob}
      -else
        %p
          =image_tag "default.jpg", :class => "img-polaroid"
          Профиль отсутствует