#profile_info.well.content
  =render partial: "profiles/profile", locals: {profile: @profile}
  %p
    -if @profile.present?
      =link_to 'Edit profile', edit_user_profile_path(current_user,@profile)
    -else
      =link_to 'New profile', new_user_profile_path(current_user)

#wall.well.content
  =render partial: "walls/form"
  -@wall.each do |wall|
    -isAdmin = User.find(wall.writer_id)
    -if (isAdmin.has_role?(:admin) && !(isAdmin.following?(@user) || @user.following?(isAdmin)) && isAdmin != @user)
      =render partial: "walls/wall_admin", locals: {wall: wall}
    -else
      =render partial: "walls/wall", locals: {wall: wall}

#friends_block.content.well
  %ul.thumbnails
    -@friends.each do |f|
      %li.span3.thumbnail
        =link_to "#{f.profile.name}",user_path(f)
        -if f.profile.image.url.present?
          %img{:src => "#{f.profile.image.url}"}
        -else
          =image_tag "default.jpg", :class => "img-polaroid"
