#users_count.well.content
  %h5
    Всего зарегистрированных пользователей:
    =@users_count

#users.well.content
  -@users.each do |u|
    -@profile = u.profile
    =render partial: "profiles/profile", locals:{profile: @profile}
    %p
      =link_to("Перейти на стрницу #{@profile.name}", current_user == u ? root_path : user_path(u))
    -if @user == u
      %p
        Не узнаёшь?Это же ты!
    -else
      %p
        -if @user.following?(u) || u.following?(@user)
          =link_to "Удалить из друзей", unfollow_user_path(u)
        -else
          =link_to "Добавить в друзья", follow_user_path(u)
  =paginate @users
