#profile_info.well.content
  =render partial: "profiles/profile", locals: {profile: @profile}
  -unless @user == current_user
    %p
      -if @user.following?(current_user) || current_user.following?(@user)
        =link_to "Удалить из друзей", unfollow_user_path(@user)
      -else
        =link_to "Добаить в друзья", follow_user_path(@user)

#wall.well.content
  -if @user.following?(current_user) || current_user.following?(@user) || @user == current_user || current_user.has_role?(:admin)
    =render partial: "walls/form"
  -@wall.each do |wall|
    -isAdmin = User.find(wall.writer_id)
    -if (isAdmin.has_role?(:admin) && !(isAdmin.following?(@user) || @user.following?(isAdmin)) && isAdmin != @user)
      =render partial: "walls/wall_admin", locals: {wall: wall}
    -else
      =render partial: "walls/wall", locals: {wall: wall}

#friends_block.content.well
  %ul.thumbnails
    -@friends.each do |f|
      %li.span3.thumbnail
        =link_to "#{f.profile.name}",user_path(f)
        -if f.profile.image.url.present?
          %img{:src => "#{f.profile.image.url}"}
        -else
          =image_tag("default.jpg")