#friends_count.well.content
  %h5
    -if @friends_count == 0
      У вас пока нет друзей
    -else
      Всего друзей:
      =@friends_count
#friends.well.content
  -@friends.each do |f|
    -@profile = f.profile
    =render partial: "profiles/profile", locals:{profile: @profile}
    %p
      =link_to("Перейти на страницу #{f.profile.name}", user_path(f))
    %p
      =link_to "Удалить из друзей", unfollow_user_path(f)