.well.well-small.content
  = form_for [Wall.new],html:{class:"form-inline"} do |f|
    =f.hidden_field :writer_id, value: current_user.id
    =f.hidden_field :user_id  , value: params[:id] ? params[:id] : current_user.id
    .controls
      =f.text_area :text, class:'text-field'
      %br
      =f.submit 'Send', class:'btn  btn-primary'