img{
    width : 160px;
    height: 140px;
    float: left;
}
body{
    padding-top:30px ;

}
p.wall{
    font-size: 10px;
}
#profile_info{
    height: auto;
}
textarea{
    resize: none;
    word-wrap: normal;
    text-wrap: normal;
}
#admin_note{
    border: 1px solid red;
}

#friends_block{

}
#friends_block img{
    width: 50px;
    height: 50px;
}