-if @profile.present?
  -if @profile.image.url.present?
    %img.img-rounded{src:"#{@profile.image.url}"}
- if user_signed_in?
  %span
    hello,
    =current_user.email
  = link_to('выйти', destroy_user_session_path, :method => :delete)
- else
  = link_to('войти', new_user_session_path)
%p
  -if @profile.present?
    =link_to 'edit_profile', edit_user_profile_path(current_user,@profile)
  -else
    =link_to 'newprofile', new_user_profile_path(current_user)
%h1
  -if @profile.present?
    =@profile.name
= form_for [Wall.new],html:{class:"form-inline"} do |f|
  =f.hidden_field :writer_id, value: current_user.id
  =f.hidden_field :user_id  , value: params[:id]
  .controls
    =f.text_area :text, class:'text-field'
    =f.submit 'Send', class:'btn  btn-primary'
-@user.walls.each do |wall|
  %h5
    =wall.text
  %p
    =wall.created_at

.span3
  -if user_signed_in?
    .well
      %ul.thumbnails
        %li My Friends
        %li= link_to 'Моя страница', root_path
        %li= link_to 'Мои друзья', friends_path
        %li= link_to 'Чекины'
        %li= link_to 'Все пользователи', all_users_path
        %li= link_to 'На главную', index_path
        %li= link_to 'Выйти', destroy_user_session_path, :method => :delete